
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function hasRole(role) {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }
    
    function isAgenteAduanero() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roleTitle == 'agente aduanero';
    }
    
    function isSupervisor() {
        return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'supervisor';
    }

    match /users/{userId} {
      allow read: if isAuthenticated() && (request.auth.uid == userId || hasRole('coordinadora') || isAdmin() || hasRole('ejecutivo') || isSupervisor());
      allow list: if hasRole('coordinadora') || isAdmin() || isSupervisor() || hasRole('ejecutivo');
      allow write: if isAuthenticated() && (request.auth.uid == userId || isAdmin());
      
      match /consigneeDirectory/{directoryId} {
        allow read, write: if request.auth.uid == userId || isAdmin() || hasRole('supervisor') || hasRole('coordinadora');
      }
    }
    
     match /SolicitudCheques/{solicitudId} {
        allow read, write: if isAuthenticated();
        match /comments/{commentId} {
           allow read, write: if isAuthenticated();
        }
     }
     
     match /Memorandum/{solicitudId} {
        allow read, write: if isAuthenticated();
         match /comments/{commentId} {
           allow read, write: if isAuthenticated();
        }
     }

    match /examenesPrevios/{examId} {
      allow read: if isAuthenticated();
      allow list: if hasRole('coordinadora') || isAdmin();
      allow create, update: if isAuthenticated() && (hasRole('gestor') || hasRole('coordinadora') || isAdmin());
      allow delete: if isAdmin();

      match /comments/{commentId} {
        allow read: if isAuthenticated();
        allow create: if isAuthenticated() && (hasRole('gestor') || hasRole('aforador') || hasRole('ejecutivo') || hasRole('coordinadora') || isAdmin());
        allow update, delete: if isAdmin();
      }
      
      match /pagos/{pagoId} {
      	allow read, write: if isAuthenticated();
      }
    }
    
    match /solicitudesExamen/{requestId} {
        allow read: if isAuthenticated();
        allow create: if isAuthenticated() && (hasRole('ejecutivo') || hasRole('coordinadora') || isAdmin() || isSupervisor());
        allow update: if isAuthenticated() && (hasRole('coordinadora') || isAdmin() || isSupervisor());
        allow delete: if isAdmin();
    }
    
    match /solicitudesLegales/{requestId} {
        allow read: if isAuthenticated() && (hasRole('legal') || isAdmin() || hasRole('ejecutivo') || hasRole('coordinadora'));
        allow list: if isAuthenticated() && (hasRole('legal') || isAdmin());
        allow create: if isAuthenticated();
        allow update: if isAuthenticated() && (hasRole('legal') || isAdmin());
        allow delete: if isAdmin();
    }

    match /reportAccessRequests/{userId} {
      allow create: if isAuthenticated() && request.auth.uid == userId;
      allow read, list, update: if isAdmin();
      allow delete: if isAdmin();
    }

    match /examenesRecuperados/{logId} {
        allow create: if isAuthenticated() || isAdmin();
        allow read, update, delete: if isAdmin();
    }
    
    match /adminAuditLog/{logId} {
        allow create: if isAdmin();
        allow read, list, update, delete: if isAdmin();
    }

    // Rules for collection group queries.
    match /{path=**}/aforo/{docId} {
       allow read: if isAuthenticated();
    }
    
    match /worksheets/{worksheetId} {
        function isOwner() {
          return request.auth.token.email == resource.data.createdBy;
        }

        allow create: if isAuthenticated() && (hasRole('ejecutivo') || hasRole('coordinadora') || isAdmin() || isSupervisor() || isAgenteAduanero() || hasRole('aforador'));
        allow read: if isAuthenticated();
        allow list: if isAdmin() || hasRole('invitado') || (isAuthenticated() && hasRole('coordinadora')) || (isAuthenticated() && hasRole('ejecutivo') && isOwner()) || isAgenteAduanero() || isSupervisor();
        allow update: if isAuthenticated() && (hasRole('ejecutivo') || isAdmin() || isAgenteAduanero() || isSupervisor() || hasRole('coordinadora') || hasRole('aforador'));
        allow delete: if isAdmin();

        match /aforo/{docId} {
            allow read, write: if isAuthenticated();
        }
        
        match /actualizaciones/{updateId} {
           allow read, write: if isAuthenticated();
        } 
    }
    
    match /Validaciones/{validacionId} {
      allow read, list: if isAuthenticated() && (hasRole('revisor') || hasRole('calificador') || isAdmin() || isSupervisor());
      allow create: if isAuthenticated() && (hasRole('calificador') || isAdmin() || isSupervisor());
      allow update, delete: if isAdmin();
    }
    
    match /avisos/{avisoId} {
      allow read: if isAuthenticated();
      allow create, update, delete: if isAdmin();
    }
     match /remisiones/{remisionId} {
      allow read: if isAuthenticated() && (hasRole('facturador') || hasRole('supervisor') || isAdmin() || hasRole('coordinadora'));
      allow list: if isAuthenticated() && (hasRole('facturador') || hasRole('supervisor') || isAdmin() || hasRole('coordinadora'));
      allow create: if isAuthenticated() && (hasRole('facturador') || isAdmin() || hasRole('supervisor'));
    }
  }
}
